PRICE=999

TELEGRAM_TOKEN=token

DATABASE_URL=postgres://postgres:postgres@db:5432/postgres?sslmode=disable

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

REMNAWAVE_URL=https://example.com
REMNAWAVE_TOKEN=token

CRYPTO_PAY_TOKEN=token
CRYPTO_PAY_URL=https://pay.crypt.bot

YOOKASA_SECRET_KEY=key
YOOKASA_SHOP_ID=id
YOOKASA_URL=https://api.yookassa.ru/v3
YOOKASA_EMAIL=exmaple@mail.com

TRAFFIC_LIMIT=100

SERVER_STATUS_URL="https://example.com/status"
SUPPORT_URL="https://example.com/support"
FEEDBACK_URL="https://example.com/feedback"
CHANNEL_URL="https://t.me/examplechannel"